{% extends 'base.html' %}

{% load static %}

{% block content %}

<main class="main">

  <!-- Resume Section -->
  <section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Resume</h2>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">خلاصه</h3>

          <div class="resume-item pb-0">
            <h4>Brandon Johnson</h4>
            <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing
                user-centered digital/print marketing material from initial concept to final, polished deliverable.</em>
            </p>
            <ul>
              <li>Portland par 127,Orlando, FL</li>
              <li>(123) 456-7891</li>
              <li>alice.barkley@example.com</li>
            </ul>
          </div><!-- Edn Resume Item -->

          <h3 class="resume-title">سوابق تحصیلی</h3>
          <div class="resume-item">
            <h4>مهاجر واحد دختران</h4>
            <h5>1400 - 1402</h5>
            <p>کارشناسی نرم افزار</p>
            <p></p>
          </div><!-- Edn Resume Item -->
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <h3 class="resume-title">سوابق شغلی</h3>
          <div class="resume-item">
            <h4 dir="rtl">کارشناس IT و برنامه نویس</h4>
            <h5>اصفهان کفریز</h5>
            <h6>1402 - تاکنون</h6>
            <p><em>اصفهان، نجف آباد، شهرک صنعتی منتظریه </em></p>
            <p><em>وظایف و دستاوردها</em></p>
            <ul>
              <li>حل مشکلات نرم افزاری و سخت افزاری کاربران</li>
              <li> کدنویسی و پیاده سازی برنامه های کاربردی برای شرکت با پایتون و جنگو</li>
              <li>پشتیبانی از سیستم اتوماسیون اداری</li>
              <li>ارائه پشتیبانی فنی به کاربران و پاسخ به سوالات و مشکلات فنی</li>
            </ul>
          </div><!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>Graphic design specialist</h4>
            <h5>2017 - 2018</h5>
            <p><em>Stepping Stone Advertising, New York, NY</em></p>
            <ul>
              <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and
                advertisements).</li>
              <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
              <li>Recommended and consulted with clients on the most appropriate graphic design</li>
              <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
            </ul>
          </div><!-- Edn Resume Item -->

        </div>

      </div>

    </div>

  </section><!-- /Resume Section -->

</main>

{% endblock %}