{% extends 'base.html' %}

{% load static %}

{% block content %}

<main class="main">

  <!-- Resume Section -->
  <section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Resume</h2>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">خلاصه</h3>

          <div class="resume-item pb-0">
            <h4>هانیه رحیمی</h4>
            <p><em> برنامه‌نویس بک‌اند با تجربه و مهارت در توسعه وب‌سایت‌ها و برنامه‌های کاربردی با استفاده از فریمورک
                Django. دارای سطح متوسطی در طراحی و پیاده‌سازی سیستم‌های تحت وب، ایجاد و مدیریت پایگاه‌داده‌ها، و
                بهینه‌سازی عملکرد سرورها. توانمند در حل مسائل پیچیده، کار گروهی و یادگیری سریع فناوری‌های جدید
              </em></p>
            <ul>
              <li>اصفهان، برازنده</li>
              <li>09913925227</li>
              <li>honix112@gmail.com</li>
            </ul>
          </div><!-- Edn Resume Item -->

          <h3 class="resume-title">سوابق تحصیلی</h3>
          <div class="resume-item">
            <h4>مهاجر واحد دختران</h4>
            <h5>1400 - 1402</h5>
            <p>کارشناسی نرم افزار</p>
            <p></p>
          </div><!-- Edn Resume Item -->

          <h3 class="resume-title">زبان ها</h3>
          <div class="resume-item">
            <h4>انگلیسی</h4>
            <h5>متوسط</h5>
            <p></p>
          </div><!-- Edn Resume Item -->
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <h3 class="resume-title">سوابق شغلی</h3>
          <div class="resume-item">
            <h4 dir="rtl">کارشناس IT و برنامه نویس</h4>
            <h5>اصفهان کفریز</h5>
            <h6>1402 - تاکنون</h6>
            <p><em>اصفهان، نجف آباد، شهرک صنعتی منتظریه </em></p>
            <p><em>وظایف و دستاوردها</em></p>
            <ul>
              <li>حل مشکلات نرم افزاری و سخت افزاری کاربران</li>
              <li> کدنویسی و پیاده سازی برنامه های کاربردی برای شرکت با پایتون و جنگو</li>
              <li>پشتیبانی از سیستم اتوماسیون اداری</li>
              <li>ارائه پشتیبانی فنی به کاربران و پاسخ به سوالات و مشکلات فنی</li>
            </ul>
          </div><!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>کارآموز ماشین لرنینگ و بک اند</h4>
            <h5>تیرماه 1402-دی 1402</h5>
            <p><em>اصفهان، خیابان شمس آبادی</em></p>
            <ul>
              <li>جمع آوری داده های خام از منابع مختلف و پیش‌پردازش داده‌ها برای استفاده در مدل‌های یادگیری ماشین</li>
              <li>توسعه و تست مدل‌های یادگیری ماشین</li>
              <li>ارزیابی عملکرد مدل‌ها با استفاده از معیارهای مختلف</li>
              <li>کار با ابزار های تحلیل داده مانند پانداس و نامپای</li>
            </ul>
          </div><!-- Edn Resume Item -->

        </div>

      </div>

    </div>

  </section><!-- /Resume Section -->

</main>

{% endblock %}